header {
    background-color: var(--mat-sys-inverse-primary);
    color: var(--mat-sys-on-primary-container);
    display: flex;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
}

.logout-btn {
    justify-self: flex-end;
    margin-right: 10px
}

.welcome-msg {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .logout-btn {
        margin-right: 0px;
    }
}