.container {
    color: var(--mat-sys-on-primary-container);
    padding: 15px;
    margin: 5px 0px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

.container:hover {
    background-color: var(--mat-sys-surface-tint);
    color: var(--mat-sys-surface);
    cursor: pointer;
}

.container.selected {
    background-color: var(--mat-sys-surface-tint);
    color: var(--mat-sys-surface);
}

@media (max-width: 768px) {
    .container {
        padding: 0px;
        font-size: 12px;
        gap: 5px;
    }

    .material-icons {
        font-size: 18px;
    }
}